<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <%- include('./header'); %>
  <%- include('./error'); %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% if(isAuth) { %>
  <div class="navbar navbar-inverse">
    <div class="title navbar-header">
        業務日報
        <span class="user-header">
        </span>
    </div>
</div>
<div class="edit container ">
    <form action="/" method="post">
        <div class="report-header text-center">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>個人コード :<%= title %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="report-content">
            <div class="msg alert alert-danger"></div>
            <div class="worklog">
                <div class="common-items">
                    <div>
                        <div>
                            <label for="reportDate">日付</label>
                            <div><input id="reportDate" name="reportDate" required type="date"></div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label for="startTime">勤務時間</label>
                            <div>
                                <div>
                                 <input id="startTime" name="startTime" required type="time">～<input id="endTime" name="endTime" type="time">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
            <div class="section-wrap">
                <div class="section">
                    <div class="section-header row">
                        <!-- <div class="col-sm-6">
                            <div class="form-group">
                               <label class="col-sm-2 control-label" for="category">報告区分</label>
                               <div class="col-sm-10">
                                 <input id="category" name="category" type="text" class="form-control">
                               </div>
                            </div>
                        </div> -->
                        <div class="col-sm-6">
                            <div class="form-group">
                               <label class="col-sm-3 control-label" for="title">タイトル</label>
                               <div class="col-sm-9"><input id="title" name="title" type="text" class="form-control"></div>
                            </div>
                        </div>
                    </div>
                    <div class="section-content  form-group">
                       <label class="col-sm-1 control-label" for="comment">報告</label>
                       <div class="col-sm-11 comment"><textarea id="comment" name="comment" class="form-control" required></textarea></div>
                    </div>
                    <!-- <div class="section-img">
                        <label>添付画像</label>
                        <div class="img-input-wrap">
                            <input accept="image/*" name="img" type="file">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="btn-wrap text-center">
            <div class="btn-group">
                <button class="cancel">キャンセル</button>
                <input type="submit" value="追加"/>
            </div>
        </div>
    </form>
</div>

<% } else { %>
  <h1>ログインしてください</h1>
  <a href="/signup">アカウントを作成する</a>
<% } %>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>

<style>
  .worklog {
background-color: #f7f7f9;
border: 1px solid #ddd;
border-radius: 10px;
padding: 5px;
}

.report-content > * {
margin: 10px auto;
}

div {
display: block;
}

.title {
margin: 0;
color: #FFFFFF;
text-align: center;
font-size: 1.2em;
font-weight: bold;
width: 100%;
cursor: default;
background-color: black;
}

.section textarea {
height: 8em;
}

textarea {
-webkit-writing-mode: horizontal-tb !important;
font-family: monospace;
text-rendering: auto;
color: -internal-light-dark(black, white);
letter-spacing: normal;
word-spacing: normal;
line-height: normal;
text-transform: none;
text-indent: 0px;
text-shadow: none;
display: inline-block;
text-align: start;
appearance: auto;
-webkit-rtl-ordering: logical;
resize: auto;
cursor: text;
white-space: pre-wrap;
overflow-wrap: break-word;
background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
column-count: initial !important;
margin: 0em;
border-width: 1px;
border-style: solid;
border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
border-image: initial;
padding: 2px;
}
</style>

